@import url('./../style/app.css');
@import url('./../style/header.css');

.about {
    margin: 20px auto;
    width: 66%;
}
.about-pic {
    float: left;
    margin: 0 13px 0 0;
    border: 1px solid transparent;
    border-radius: 50%;
}

.about-me {
    margin: 10px 0 0 0;
}