.footer {
    background-color: black;
    color: #ffffff;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.social-media,
.social-media-item {
    list-style: none;
}

.social-media {
    padding: 0;
}

.media-btn {
    background-color: transparent;
    border: none;
}

.media-link {
    display: flex;
}

.icon > svg {
    width: 16px;
    height: 16px;
}

.username {
    color: #ffffff;
    margin-left: 4px;
}