a {
    text-decoration: none;
    color: #2076e1;
}

.header{
    display: flex;
    background-color: #292929;
    align-items: center;
}

.nav {
    grid-area: header;
}

.nav-link {
    color: #ffffff;
    margin: 8px;
}