.footer {
    background-color: black;
    color: #FFF;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.social-media, 
.social-media-item {
    list-style: none;
}

.icon > svg {
    width: 16px;
    height: 16px;
}